In [17]:
import numpy as np
import pandas as pd

In [25]:
levels = [['A','B'],['ALA','ARG','LYS']]
labels = [[0,0,0,0,0,1,1,1,1,1,1,1,1,1,1],[0,1,2,0,1,2,1,0,1,0,2,2,1,0,1]]
names = ['chain','group']

In [27]:
index = pd.MultiIndex(levels=levels, labels=labels, names=names, verify_integrity=True)
index

MultiIndex(levels=[['A', 'B'], ['ALA', 'ARG', 'LYS']],
           labels=[[0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], [0, 1, 2, 0, 1, 2, 1, 0, 1, 0, 2, 2, 1, 0, 1]],
           names=['chain', 'group'])

In [28]:
data = [1,2,3,5,6,7,8,9,10,11,12,13,14,15,16]

In [29]:
df = pd.DataFrame({'data': data}, index=index)
df

             data
chain group
A     ALA       1
      ARG       2
      LYS       3
      ALA       5
      ARG       6
B     LYS       7
      ARG       8
      ALA       9
      ARG      10
      ALA      11
      LYS      12
      LYS      13
      ARG      14
      ALA      15
      ARG      16